/* General Styles */
.app {
    display: flex;
    background-image: url("../../images/fruit1.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 130vh; 
    width: 100vw;
    margin-top: -10px;
  }
  
  /* Sidebar Styles */
  .sidebar {
    width: 80px;
    background-color: rgb(0, 0, 0);
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 25px;
    padding-top: 50px;
    height: 130svh;
  }
  .test{
    width: 1100px;
    height: 90svh;
    margin-left: -250px;
    margin-top: -150px;
    
  }
  .sidebar-item {
    margin: 20px 0;
    font-size: 24px;
    color: #99aab5;
    transition: color 0.3s;
    cursor: pointer;
  }
  
  .sidebar-item.active, .sidebar-item:hover {
    color: #FF4B2B;
  }
  
  section {
    margin-bottom: 30px;
  }
  
  /* Progress Tracker Styles */
  .progress-tracker-section {
    display: flex;
    justify-content: space-between;

  }
  
  .progress-tracker {
    display: flex;
    justify-content: space-around;
    gap: 40px;
  }

  .progress-card {
    background-color: #fff;
    padding: 90px 40px;
    border-radius: 8px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.5);
    position: relative;
  }
  
  .progress-card h3 {
    margin-bottom: 10px;
    font-size: 18px;
  }
  .progress-card p{
    background-color: #55555599;
    border-radius: 10px;
    padding: 3px;
    color: rgba(255, 255, 255, 0.908);
  }
  .fat p{
    padding: 5px 20px;
  }
  .yellow {
    background-color: #ffd700;
  }
  
  .green {
    background-color: #4caf50;
  }
  .blue {
    background-color:#3a98e5;
  }
  
  .red {
    background-color:#ec6157;
  }
  
  .calories-for-today {
    background-color: transparent;
    padding: 20px;
    border-radius: 8px;
    text-align: center;
  }
  
  .calories-chart {
    height: 300px;
    width: 500px;
    margin-top: 20px;
    background-color: transparent;
    box-shadow: rgba(255, 255, 255, 0.5) 0px 2px 4px 0px, rgba(255, 255, 255, 0.5) 0px 2px 16px 0px;    
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #888;
    padding: 20px 0px;
  }
  
  .lowerdiet{
    display: flex;
    flex-direction: row;
    gap: 50px;
    margin-left: 280px;
  }
  .cs{
    position: absolute;
    bottom: 20px;
    left: 20px;
    border: 1px solid black;
    padding: 10px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.7);
  }
  .fat{
    padding: 90px 65px;
  }
  .carbs{
    padding: 90px 35px;
  }
  .acarbs{
    padding: 90px 53px;
  }